.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #fff;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-color: #999;
  background-color: #fafafa;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.typeContainer {
  display: flex;
  gap: 5px;
}

.type {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}
